@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
#supplyprogress::-webkit-progress-value {
  background: linear-gradient(to right, #72D1F5 85%, #A6FFCA 10%);
  border-radius: 10px 0 0 10px;
}
#supplyprogress {

}
#supplyprogress::-webkit-progress-bar {
  background: lightgray;
  border-radius: 10px;
  height:30px;
  width: 200px;

}
td{
  padding: 30px;
} 
th{
  padding: 20px;
}

table {
  border-radius: 30px;
}
#borrowprogress::-webkit-progress-value {
  background: coral;

  border-radius: 10px 0 0 10px;
}
#borrowprogress::-webkit-progress-bar {
  background: lightgray;
  border-radius: 10px;
  height:30px;
  width: 200px;

}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
